HOSTNAME=${hostname}
S3_AWS_ACCESS_KEY_ID=${gearbox_g3auto_access_key}
S3_AWS_SECRET_ACCESS_KEY=${gearbox_g3auto_secret_access_key}
AWS_REGION=${region}
TESTING=${testing}
DEBUG=${debug}
ENABLE_PHI=${enabled_phi}
DUMMY_S3=${dummy_s3}
ALLOWED_ISSUERS=${allowed_issuers}
USER_API=${user_api}
FORCE_ISSUER=${force_issuer}
GEARBOX_MIDDLEWARE_PUBLIC_KEY_PATH=${gearbox_middleware_path}
S3_PROD_BUCKET_NAME=${s3_prod_bucket_name}
PROD_PROMOTION_ROLE_ARN=${prod_promotion_role_arn}